* {
    margin: 0;
    padding: 0;
    font-family: 'manrope', sans-serif;
    box-sizing: border-box;
}

@font-face {
    font-family: 'monument';
    src: url('fonts/monument.otf');
}

@font-face {
    font-family: 'manrope';
    src: url('fonts/manrope.ttf');
}

@font-face {
    font-family: 'mono';
    src: url('fonts/mono.ttf');
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    max-width: 100%;
    background: #080808;
    color: white;
    overflow-x: hidden;
}

.icon {
    width: 100px;
}

.inverted {
    filter: invert(100%);
}

.container {
    padding: 10px 3%;
}

.subtitle {
    font-size: 60px;
    font-weight: 600;
    color: white;
}

.banner {
    margin: 0 -20px;
    height: 20vmin;
    background-color: #262626;
    border: 6px #ff004f;
    border-style:outset;
    overflow: hidden;
    display: flex;
    align-items: center;
    z-index: 2;

    h1 {
        padding-right: 20vh;
        text-wrap: nowrap;
        flex-basis: 100%;
        font-size: 14vmin;
        font-family:'monument', sans-serif;
    }
}

.scroll-left {
    animation: side-scroll 8s linear infinite;
}

.scroll-right {
    animation: side-scroll 8s reverse linear infinite;
}

@keyframes side-scroll {
    from { transform: translateX(0%); }
    to { transform: translateX(-100%); }
}

/*--NAVBAR--*/
#navbar {
    padding-top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    height: 8vh;
    z-index: 100;
    font-size: 3.5vh;
    transition: background-color 0.5s, box-shadow 0.5s;

    img {
        display: none;
        position: fixed;
        right: 20px;
        top: 20px;
        filter: invert(100%);
        padding: 5px;
        width: 40px;
    }
}

.nav-scrolled {
    background-color: #262626;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2);

    > img {
        background-color: #00ffb0;
        border-radius: 50%;
    }
}

#side-menu li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

    a {
        color: #fff;
        text-decoration: none;
        position: relative;
    }

    a::after {
        content: '';
        width: 0;
        height: 3px;
        background: #ff004f;
        position: absolute;
        left: 0;
        bottom: -6px;
        transition: 0.5s;
    }

    a:hover::after {
        width: 100%;
        transition: 0.5s;
    }
}

/*--HEADER--*/
#header {
    width: 100%;
    height: 110vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url(img/cole_front.png), url(img/left_eye.png), url(img/right_eye.png), url(img/cole_back.png), linear-gradient(20deg, black, 70%, #3b3b3b);
}

#header-text {
    margin-top: 8vh;
    font-size: 5vmin;
    width: 50%;

    h1, span {
        font-family: 'Poppins', sans-serif;
        font-size: 15vmin;
        margin-top: 20px;
    }

    p {
        width: 45vw;
    }
}

/*--ABOUT ME--*/
#about-info{
    font-size: 4vmin;
    display: flex;
    align-items: center;
    column-gap: 60px;

    > div {
        height: fit-content;
    }

    img {
        height: 50vmin;
        border-radius: 50%;
    }

    h1 {
        font-family: 'mono', sans-serif;
        text-shadow: 5px 5px #ff004f;
    }

    a {
        font-weight: 600;
        text-decoration: none;
    }
}

#tab-container {
    transition: height 1s;
}

#tab-titles {
    display: flex;
    margin: 20px 0 40px;
    justify-content: space-around;
}

.tab-link {
    margin-right: 0;
    font-size: 6vmin;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    transition: scale 0.2s;
}

.tab-link:hover {
    scale: 1.05;
}

.tab-link::after {
    content: '';
    height: 5px;
    background: #ff004f;
    position: absolute;
    left: 10%;
    width: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-link.active-link::after {
    width: 80%;
}

.tab-contents.active-tab {
    display: block;
}

.tab-contents {
    display: none;
}

#skills.active-tab {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#skills {
    margin-left: 50%;
    translate: -50% 0;

    > div {
        background: radial-gradient(#c00000, 75%, #ff004f);
        width: fit-content;
        height: min-content;
        padding: 2px;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        transition: scale .2s;
    }

    > div:hover {
        scale: 1.1;
        .layer {
            height: 100%;
        }
    }

    p {
        font-size: 4vmin;
        font-family: 'mono', sans-serif;
    }

    .inverted {
        padding: 10px;
    }

    img {
        width: 22vmin;
    }
}

#education.active-tab {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

#education {
    h1 {
        font-family: 'monument', sans-serif;
        font-size: 10vmin;
        text-shadow: 8px 8px #ff004f;
        display: inline;
    }

    img {
        height: 50vmin;
    }
}

#pets.active-tab {
    display: flex;
}

#pets {
    overflow: scroll hidden;
    scrollbar-width: none;
    height: 70vh;

    img {
        position: relative;
        cursor: grab;
        background-color: white;
        border-radius: 15px;
    }

    img:active {
        cursor: grabbing;
    }
}

#pets:active {
    content: 'dragging';
}

/*--HOBBIES--*/
#hobby-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 60px 0;

    div {
        min-width: 300px;
        flex-basis: 30%;
        flex-grow: 1;
        background: #262626;
        padding: 40px;
        font-weight: 300;
        border-radius: 10px;
        transition: 0.5s;
        z-index: 1;
        display: table;

        a {
            text-decoration: none;
            color: white;
            font-weight: 500;
        }
        .learn-more {
            text-decoration: line-through;
            font-size: max(22px, 3vmin);
            font-weight: 500;
            height: 1px;
            display: table-row;
            vertical-align: bottom;
        }

        p {
            font-size: max(20px, 2.5vmin);
            margin-bottom: 20px;
        }

        h2 {
            font-size: max(30px, 4vmin);
            font-weight: 550;
            margin-top: 30px;
            margin-bottom: 15px;
        }
    }

    div:hover {
        background: #ff004f;
        transform: translateY(-10px);
        scale: 1.02;
    }
}

/*--PORTFOLIO--*/
#project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.project {
    border-radius: 10px;
    position: relative;
    overflow: hidden;

    img {
        width: 100%;
        border-radius: 10px;
        display: block;
        transition: scale 0.5s;
    }

    a {
        margin-top: 20px;
        color: #ff004f;
        text-decoration: none;
        background: white;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 32px;
            /*https://isotropic.co/tool/hex-color-to-css-filter/*/
            filter: invert(39%) sepia(100%) saturate(6997%) hue-rotate(332deg) brightness(97%) contrast(120%);
        }
    }

    h3 {
        font-weight: 500;
        margin-bottom: 20px;
        font-size: 25px;
    }
}

.project:hover img {
    scale: 1.1;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.5), #990000);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.7s;
}

.project:hover .layer {
    height: 100%;
}

/*----*/
#footer {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
    color: #ababab;
}

/*--MOBILE--*/
@media only screen and (max-width: 800px) {
    .subtitle {
        font-size: 40px;
    }

    /*--NAVBAR--*/
    #navbar {
        h1 {
            display: none;
        }

        img {
            display: block;
        }
    }

    .nav-scrolled {
        background-color: unset;
        box-shadow: unset;
    }

    /*--HEADER--*/
    #header-text {
        margin-top: 5%;
        width: 100%;

        h1 {
            font-size: 15vmin;
        }
    }

    #side-menu {
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -120px;
        width: 120px;
        height: 100vh;
        padding-top: 50px;
        z-index: 100;
        transition: right 0.5s;

        li {
            display: block;
            margin: 25px;
        }

        li:hover::after {
            width: 0;
        }

        img {
            position: absolute;
            top: 20px;
            left: 25px;
            cursor: pointer;
        }
    }

    /*--ABOUT ME--*/
    #about-info img {
        display: none;
    }

    #education {
        flex-direction: column-reverse;
        h1 {
            font-size: 12vmin;
        }
    }

    /*--HOBBIES--*/

    /*--PORTFOLIO--*/
}